<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<client>
			<endpoint name="DataCacheClientService"
					  address="net.tcp://localhost:4000/DataCacheClientService"
					  binding="netTcpBinding"
					  contract="Common_Project.DistributedServices.IDBReq"/>
		</client>
	</system.serviceModel>

</configuration>